<div
  class="menu-item"
  [class.menu-item-left]="!right"
  [class.menu-item-right]="right"
>
  <div class="menu-item__image">
    <img class="menu-item__image--img" src="{{ imgSrc }}" alt="" />
  </div>
  <div class="menu-item__info">
    <div class="menu-item__info--flavorText">{{ flavorText }}</div>
    <h3 class="menu-item__info--heading">{{ heading }}</h3>
    <p class="menu-item__info--details">{{ details }}</p>
    <a href="/menu"
      ><button class="menu-item__info--button">
        Check out our full menu
      </button></a
    >
  </div>
</div>
