<header class="main-header">
  <h1 class="main-header__logo">
    <img
      class="main-header__logo--img"
      alt="AJ's Menu"
      src="/assets/images/logo.svg"
    />
  </h1>
  <nav class="main-header__nav">
    <a routerLink="/home" class="main-header__nav--link">Home</a>
    <a routerLink="/menu" class="main-header__nav--link">Menu</a>
  </nav>
</header>
<h2 class="our-menu">Our Menu</h2>
<div class="place-order">
  To place your order, call/text us at
  <a class="place-order__number" href="tel:{{ number }}">{{ number }}</a>
</div>
<app-menu-item
  product="Lechon Baboy"
  price="$15 per lb (+$5 for delivery)"
  details="Roasted pork and sauce"
  imgSrc="/assets/images/lechon.png"
></app-menu-item>
<app-menu-item
  product="Sushi Bake"
  price="$12 - solo / $25 - medium / $35 - large"
  details="Similar in taste to your traditional sushi  with a twist. Raizza's own secret recipe"
  imgSrc="/assets/images/sushi-bake.png"
></app-menu-item>
<app-menu-item
  product="Seafood palabok"
  price="$15 per tub"
  details="A Filipino seafood favourite"
  imgSrc="/assets/images/crab-palabok.jpeg"
></app-menu-item>
<app-menu-item
  product="Sisig"
  price="$15 per tub"
  details="Made with real Pinoy lechon. Perfect with alcoholic drinks"
  imgSrc="/assets/images/sisig.jpeg"
></app-menu-item>
<app-menu-item
  product="Shanghai Lumpia"
  price="$30 for 50pcs"
  details="Great finger food and appetizer"
  imgSrc="/assets/images/shanghai.jpg"
></app-menu-item>
<app-menu-item
  product="Igado"
  price="$15 per tub"
  details="Filipino spiced pork liver dish that is great with rice"
  imgSrc="/assets/images/igado.jpeg"
></app-menu-item>
<app-menu-item
  product="Pakbet"
  price="$15 per tub"
  details="Vegetable dish"
  imgSrc="/assets/images/pakbet.jpg"
></app-menu-item>
<app-menu-item
  product="어묵볶음: Stir-fried fishcake"
  price="$12 per tub"
  details="Yummy fish cake appetizer"
  imgSrc="/assets/images/fish-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="누드김밥 - Gimbap"
  price="$40 for 50pcs"
  details="Seafood and veggies wrapped in seaweed"
  imgSrc="/assets/images/gimbap.jpeg"
></app-menu-item>
<app-menu-item
  product="겉절이 - Kimchi"
  price="$12 per tub"
  details="Original Home Made Kimchi"
  imgSrc="/assets/images/kimchi.jpg"
></app-menu-item>
<app-menu-item
  product="시금치 무침 - Spinach side dish"
  price="$15 per tub"
  details="Healthy and yummy side dish"
  imgSrc="/assets/images/spinach.jpeg"
></app-menu-item>
<app-menu-item
  product="떡볶이 - tteokbokki"
  price="$12 per tub"
  details="Spicy Korean Rice Cakes with original recipe"
  imgSrc="/assets/images/tteokbokki.jpg"
></app-menu-item>
<app-menu-item
  product="Ube Roll Cake"
  price="$35"
  details="Great home made dessert and snack"
  imgSrc="/assets/images/ube-roll-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="Mango Roll Cake"
  price="$35"
  details="Great home made dessert made with fresh mangoes"
  imgSrc="/assets/images/mango-roll-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="Yema Roll Cake"
  price="$35"
  details="Great home made dessert"
  imgSrc="/assets/images/yema-roll-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="Brazo de Mercedez"
  price="$35"
  details="Great home made dessert"
  imgSrc="/assets/images/brazo-de-mercedez.jpeg"
></app-menu-item>
<app-menu-item
  product="Vanilla Cake"
  price="$50"
  details="Great home made cake"
  imgSrc="/assets/images/vanilla-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="Ube Cake"
  price="$50"
  details="Great home made cake with a Filipino favourite"
  imgSrc="/assets/images/ube-cake.jpeg"
></app-menu-item>
<app-menu-item
  product="Mango Cake"
  price="$50"
  details="Great home made cake with fresh mangos for all ocassions"
  imgSrc="/assets/images/mango-cake.jpeg"
></app-menu-item>
<app-footer></app-footer>
