<header class="main-header">
  <div class="main-header__top">
    <h1 class="main-header__logo">AJ's Menu</h1>
    <nav class="main-header__nav">
      <a href="/" class="main-header__nav--link">Home</a>
      <a href="/menu" class="main-header__nav--link">Menu</a>
    </nav>
  </div>
  <div class="main-header__contact">
    <strong>Contact Us:</strong>
    <a class="main-header__contact--number" href="tel:{{ number }}">{{
      number
    }}</a>
  </div>
</header>
<main>
  <div class="main-banner">
    <div class="main-banner__bg"></div>
    <div class="main-banner__info">
      <h2 class="main-banner__info--heading">Delicious Asian Food</h2>
      <div class="main-banner__info--parag">
        Authentic Filipino, Korean and Japanese food
      </div>
      <a href="/menu"
        ><button class="main-banner__info--btn">Our Menu</button></a
      >
    </div>
  </div>
</main>
