$orange: #ff8b2c;

.main-header {
  text-align: center;
  &__nav {
    font-family: "Montserrat";
    font-size: 7rem;
    margin-top: 10rem;

    &--link,
    &--link:visited {
      color: #ffffff;
      &:not(:last-child) {
        margin-right: 10rem;
      }
    }
  }

  &__logo {
    font-size: 8rem;
    font-family: "Arvo";
    padding-top: 5rem;

    &--img {
      width: 35rem;
    }
  }

  &__contact {
    margin-top: 5rem;
    font-size: 5rem;
    font-family: "Open Sans";
    color: #ffffff;
    text-align: center;

    &--number {
      color: $orange;
      margin-left: 1rem;
    }
  }
}

.main-banner {
  position: relative;

  &__bg {
    clip-path: polygon(0 0, 100% 0, 100% 99%, 0 90%);
    filter: brightness(0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__info {
    text-align: center;

    &--heading {
      font-family: Nunito;
      font-size: 16rem;
      color: #ffffff;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 10rem;

      &-delicious {
        color: $orange;
        display: block;
      }
    }

    &--white-line {
      border: 1px solid #ffffff;
      max-width: 50%;
      margin: 0 auto;
    }

    &--parag {
      font-family: "Open Sans";
      font-size: 7rem;

      color: #ffffff;
      margin-top: 4rem;
    }

    &--btn {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 7rem;
      margin: 10rem 0 20rem;
      padding: 4rem 3rem;
      text-transform: uppercase;

      color: #ffffff;
      background: transparent;
      cursor: pointer;
      border: 1px solid $orange;

      &:hover {
        background-color: $orange;
      }
    }
  }
}

.home-made {
  margin-top: 15rem;
  position: relative;

  &__bg {
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__msg {
    font-family: Nunito;
    font-size: 12rem;
    text-align: center;
    padding: 35rem 4rem;

    @media screen and (max-width: 600px) {
      padding: 20rem 4rem;
    }

    color: #ffffff;
  }
}

.contact-message {
  text-align: center;
  padding: 20rem 0;
  &__msg {
    font-family: Nunito;
    font-size: 10rem;
    @media screen and (max-width: 600px) {
      font-size: 6rem;
    }

    color: #666666;

    &--number {
      color: $orange;
    }
  }
}

.footer {
  padding: 15rem 0;
  background: #f2f2f2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--link,
  &--link:visited {
    font-family: "Montserrat";
    font-size: 7rem;
    color: #513c2d;
  }

  &__logo {
    width: 20rem;
    margin: 0 10rem;
  }
}
